<% layout('layout') %>

<ul>
  <% categories.forEach(cat => { %>
    <li><a href="/category/<%= cat.id %>"><%= cat.title %></a></li>
  <% }) %>
</ul>

<p><a href="/new-question">Add a New Question</a></p>
